.b-issues-list {
    border-top: 1px solid #1abc9c;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
    padding: 20px;
}

.b-issue {
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.b-issue__description {
    margin-bottom: 10px;
}

.b-issue__title {
    font-size: 18px;
    line-height: 1.5em;
    color: #1abc9c;
}

.b-issue__status {
    padding: 5px 10px 4px 10px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
}

.b-issue__status--OPEN {
    background: #4a6785;
}