<div class="jumbotron">
  <h1 class="dislay-4">!Upss - Not Found this page</h1>
  <p class="lead">Go to the Principal Page</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg"  role="button">Not Found</a>
  </p>
</div>