<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit($event)">

      <div class="form-group">
        <label for="username">Nombre de Usuario</label>
        <input type="text" id="username" class="form-control"
               required name="username" [(ngModel)]="user.username"
               #username="ngModel">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" class="form-control"
               name="password" required
               [(ngModel)]="user.password" #password="ngModel">
      </div>

      <button type="submit" class="btn btn-default"
              [disabled]="!loginForm.form.valid">Iniciar Session
      </button>

      <div class="clearfix"></div>
      <div
              *ngIf="!loginForm.form.valid"
              class="alert alert-danger margin-top-sm">
        <ul>
          <div *ngIf="username.errors">
            <li [hidden]="!username.errors.required">
              El nombre de usuario es requerido
            </li>
          </div>
          <div *ngIf="password.errors">
            <li [hidden]="!password.errors.required">
              La contraseña es requerida
            </li>
          </div>
        </ul>
      </div>
    </form>
  </div>
</div>